<div class="page topic" >

  <div id="target">
    <div class="topic-detail" >
      <img  :src="imgUrl" class="realImg">
    </div>
    <div class="user-name">{{userName.slice(0,4)}}</div>
    <img src="../../../static/img/qrcode.png" class="qrcode">
    <img class="comment" :src="commentUrl">
  </div>
  <div class="button save-button"></div>
  <img id='full-img' :src="img" class="preview-img" />
  <div class="button goto-button" @click.prevent.stop="onGoto"></div>
  <div  v-if="loading"  class="loading-container"></div>
  <div v-if="loading" class="loading-content"><div>加载中...</div></div>
</div>
